// Menu

#menu {
	z-index: 999999;
	position: absolute;
	height: calc(100% - 60px);
    top: 60px;
	width: 340px;
	padding: 40px 20px 20px 20px;
	color: $brand-secondary;
	background-color: $whiteish;
	left: -340px;
	transition: margin 0.2s ease-out;
	
	div {
		padding: 10px;
	}
}
