// Typography


//Fonts
    // Open Sans

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 600;
}


// Font stack

$opensans: 'Open Sans', Helvetica, Arial, sans-serif;


// CSS

html {
    font-size: 62.5%;
	font-family: $opensans;
}

body {
	font-size: 1.6rem;
}