* {
    box-sizing: border-box;
}

 html, body { height: 100% }

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}

header {
    position: absolute;
    margin: 10px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    background: #fff;
    padding: 4px;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header button {
    padding: 0;
    background: #fff;
    border: none;
}


#search {
    display: flex;
    margin: 0 0 0 10px;
}


#search input {
  width: 100%;
border: none;
}

div#results {
  font-style: sans-serif;
  color: black;
  font-size: 75%;
}


div#logo {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -22.5px;
  width: auto;
  height: auto;
  z-index: 9999;
}


#mapid {
    height: 100%;
    width: 100%;
}

.feature-div-icon {
    border: 2px solid green;
    border-radius: 50%;
    width: 22px !important;
    height: 22px !important;
    z-index: 100 !important;
}


.my-div-icon {
    border: 2px solid rgba(0, 0, 0, 0.4); 
    background: rgb(255, 255, 255);
    border-radius: 50%;
    width: 16px !important;
    height: 16px !important;
}

.verified-div-icon {
    border: 2px solid rgba(0, 0, 0, 0.4); 
    background: #fb6310;
    border-radius: 50%;
    width: 16px !important;
    height: 16px !important;
}

.tpl-div-icon {
    border: 2px solid rgba(0, 0, 0, 0.4); 
    background: #1765A9;
    border-radius: 50%;
    width: 16px !important;
    height: 16px !important;
}

.zoom11 .tpl-div-icon,
.zoom11 .verified-div-icon,
.zoom11 .my-div-icon {
    width: 8px !important;
    height: 8px !important;
}

.zoom12 .tpl-div-icon,
.zoom13 .tpl-div-icon,
.zoom12 .verified-div-icon,
.zoom13 .verified-div-icon,
.zoom12 .my-div-icon,
.zoom13 .my-div-icon {
    width: 12px !important;
    height: 12px !important;
}


.leaflet-popup-content-wrapper {
    border-radius: 4px;
}

.leaflet-popup-content {
}



.leaflet-container
a.leaflet-popup-close-button {
}


.leaflet-popup-content-wrapper {
}

.leaflet-popup-tip-container {
}

.icon {
    vertical-align: middle;
    padding: 3px;
}


#controls {
    position: absolute;
    right: 0;
    bottom: 20px;
    padding: 10px;
    z-index: 9999;
}

.control {
    border-radius: 3px;
    background: #fff;
    font-size: 0px;
    margin-bottom: 10px;
    cursor: pointer;
}

.control:hover {
    background: #ccc;
}

.control.active {
    background: #3895ff;
}

#layers {
}

.leaflet-control-container,
.fa, .fa-map-marker {
    display: none;
}

footer {
    background: #f6a623;
    position: absolute;
    padding: 5px;
    bottom: 0px;
    z-index: 9999;
    width: 100%;
}


.beta {
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    color: #341f3e;
}

.beta a {
    color: #341f3e;
}


@media (max-width: 600px) {
    header {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

